<html>

<head>
    <style>

    </style>
</head>
<body>
<h1>Frage</h1>
<p>{{currentQuestion.question}}</p>
<h1>Antworten</h1>


<div class="container">
    <table class="answerimgs">
        <tr>
            <td class="td" id="option1" ng-click="selectedAnswer = 1" ng-style="{'outline': selectedAnswer === 1 ? '5px solid green' : ''}">
                <img src={{currentQuestion.answers[0]}} class="img">
            </td>
            <td class="td" id="option2" ng-click="selectedAnswer = 2" ng-style="{'outline': selectedAnswer === 2 ? '5px solid green' : ''}">
                <img src={{currentQuestion.answers[1]}} class="img">
            </td>
        </tr>
        <tr>
            <td class="td" id="option3" ng-click="selectedAnswer = 3" ng-style="{'outline': selectedAnswer === 3 ? '5px solid green' : ''}">
                <img src={{currentQuestion.answers[2]}} class="img">
            </td>
            <td class="td" id="option4" ng-click="selectedAnswer = 4" ng-style="{'outline': selectedAnswer === 4 ? '5px solid green' : ''}">
                <img src={{currentQuestion.answers[3]}} class="img">
            </td>
        </tr>
    </table>
</div>


<button class="btn-success" ng-click="nextQuestion()" ng-show="selectedAnswer > 0" >Weiter</button>

</body>
</html>