<html>

<head>
    <style>

    </style>
</head>
<body>
<h1>Frage</h1>
<p>{{currentQuestion.question}}</p>
<h1>Antworten</h1>

<div class="container">
    <table class="answerimgs">
        <tr>
            <td class="td"><img src={{currentQuestion.answers[0]}} class="img" id="option1" ng-click="answerClick(1)"></td>
            <td class="td"><img src={{currentQuestion.answers[1]}} class="img" id="option2" ng-click="answerClick(2)"></td>
        </tr>
        <tr>
            <td class="td"><img src={{currentQuestion.answers[2]}} class="img" id="option3" ng-click="answerClick(3)"></td>
            <td class="td"><img src={{currentQuestion.answers[3]}} class="img" id="option4" ng-click="answerClick(4)"></td>
        </tr>
    </table>
</div>


<button class="btn-success" ng-click="showResults()" ng-show="resultsBool" >Ergebnisse zeigen</button>

</body>
</html>