<html>

<head>

    <style>

        #dropdown{
            margin: auto;
            width: 60px;
        }

    </style>
</head>

<body>
<p>
    Bist du ein Junge oder ein Mädchen?
</p>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="geschlecht" id="geschlecht_junge" autocomplete="off" checked> Junge
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="geschlecht" id="geschlecht_maedchen" autocomplete="off"> Mädchen
    </label>
</div>

<p>Wie alt bist du?</p>
<p>
    <select class="form-control"  id="dropdown">
        <option value="alter_3">3</option>
        <option value="alter_4">4</option>
        <option value="alter_4">5</option>
        <option value="alter_6">6</option>
        <option value="alter_7">7</option>
        <option value="alter_8">8</option>
        <option value="alter_9">9</option>
        <option value="alter__10">10</option>
    </select></p>
<p>Ist Deutsch deine Muttersprache?</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="sprache" id="sprache_ja" autocomplete="off" checked> Ja
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="sprache" id="sprache_nein" autocomplete="off"> Nein
    </label>
</div>
<p>
    <a class="btn btn-success" href="#/comp1" role="button">Geschichte Starten</a>
</p>

</body>

</html>
