body {

    background-color: black;
    color: white;
    max-width: auto;
    text-align: center;
    margin-top: 150px;
    font-size: 35px;
}

p{
    margin: 30px;
}

.answerimgs{

    text align: center;
    margin: auto;
}

.img {

    height: 150px;

    width: 150px;

    margin-top: 10px;

    margin-bottom: 10px;

    margin-right: 10px;

    margin-left: 10px;

    }

.storyimg{

    height: 300px;

    width: 150px;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-right: 20px;

    margin-left: 20px;
}